
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.input-style {

  input {
    background: $white;
    border:1px solid #D9E1EC;
    height: 48px;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 100%;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .label-style {
    font-size: 14px;
    color: $black;
    margin-bottom: 5px;
    font-weight: 500;
  }
}