@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.select-style {
  .select-custom {
    background: $white;
    border: 1px solid #d9e1ec;
    border-radius: 4px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-select {
      min-width: 100%;

      .ant-select-selector {
        border: none;
        background: none;
        font-size: 16px;
        height: 38px;
      }

      .ant-select-selection-placeholder {
        line-height: 38px;
      }

      .ant-select-selection-search-input {
        height: 38px !important;
        width: 100%;
      }
    }
  }

  .label-style {
    font-size: 14px;
    color: $black;
    margin-bottom: 5px;
    font-weight: 500;
  }
}
