@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.checkbox-style {
  .form-check-input {
    position: absolute;
    margin-top: 7px;
    margin-left: -16px;
    transform: scale(1.4);
  }

  .form-check-label {
    margin-left: 14px;
    font-size: 14px;
    font-weight: 500;
    color: $label-text;
  }
}
